.createPostDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 10000;
  border-radius: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.closeButton {
  align-self: flex-start;
  padding: 10px 10px;
  background-color: #FFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.postForm {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 40px;
  border-style: none;
  border: none;
  background-color: none;
  outline: none;
  border-bottom: 1px solid;
  font-size: 15px;
}

textarea {
  padding: 10px 10px;
  height: 100px;
  width: 500px;
  margin-bottom: 30px;
}

.createNewProjectButton {
  padding: 12px;
  border-radius: 20px;
  font-size: 17px;
  background-color: rgb(49, 84, 190);
  color: white;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s;
}

.inputQuill {
  height: 200px;
  width: 600px;
  margin-bottom: 70px;
}

.createNewProjectButton:hover {
  background-color: rgb(97, 123, 203);
}

.closeButton:hover {
  background-color: rgb(217, 217, 217);
}

.imageInputCreate {
  cursor: pointer;
  margin-top: 10px;
  cursor: pointer;
}

