.menuComponent {
  height: 100vh;
  width: 275px;
  background-color: #eef0f6;
  display: flex;
  flex-direction: column;
}

.logoImag {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0 0 ;
}

.text {
  font-size: 16px;
  font-weight: 500;
}

.image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 275px;
  background-color: #eef0f6;;
  height: 100vh;
}

.react-link {
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.sidebar li {
  height: 50px;
  margin-top: 14px;
  padding-left: 10%;
  list-style: none;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.sidebar li .icon {
  font-size: 35px;
}

.sidebar .text {
  font-size: 17px;
  margin-left: 10px;
}

.userContainer {
  height: 100%;
  display: flex;
  margin-left: 10%;
  margin-top: 100%;
  font-size: 40px;
  align-items: center;
}

.userInformation {
  font-size: 20px;
  margin-left: 10px;
}

.userName {
  font-weight: bold;
  font-size: 20px;
}

.userIcon{
  height: 30px;
}

.menu-bar {
  margin-top: 100px;
  margin-left: 10px;
  width: 100%;
}

header {
  position: relative;
}

.image-text {
  display: flex;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
}

.profession {
  margin-top: -2px;
}

.createButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createButton {
  padding: 10px 50px;
  font-size: 20px;
  color: white;
  background-color: rgb(49, 84, 190);
  border-style: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.createButton:hover {
  background-color: rgb(97, 123, 203);
}

.sidebar li:hover {
  background-color: white;
}