.navigationBar {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.userList {
  list-style: none;
  display: flex;
  font-size: 20px;
  margin: 20px;
}

li {
  margin: 20px;
}

h1 {
  margin: 30px;
}