.ProjectInformation {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.followAndDonateButtons {
  padding: 12px 30px;
  font-size: 20px;
  margin: 20px 10px;
  border-style: none;
  background-color: #3154be;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ;
}

.containerFullInfo {
  display: flex;
  width: 100%;
  padding: 30px 30px;
}

.imgDiv {
  width: 65%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.UserInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.ProjectInfoH1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserDivStyle{
  width: 100%;
  border-radius: 30px;
}

.smallInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.descriptionContainer {
  background-color: white;
  padding: 15px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
}

.descriptionContainer p {
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;

}

.navigation {
  position: relative;
}

.projectNavContainer{
  margin-top: 7%;
  position: absolute;
  width: 100%;
}

.updateButton {
  color: white;
  background-color: #3154be;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.5s;
}

.updateButton:hover {
  background-color: #6f83bf;
}

.followAndDonateButtons:hover {
  background-color: #6f83bf;
}
