.projectDesignContainer{
  display: inline-block;
  margin: 20px 10px;
}

.imageProjectDesign {
  width: 320px;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0 0 ;
}

.ShortInformation {
  background-color: white;
  width: 300px;
  height: 170px;
  border-radius: 0px 0px 20px 20px ;
  padding: 10px 10px;
}

.ShortInformation h2 {
  font-size: 20px;
}

.authorOfProject {
  display: flex;
  margin-top: 15%;
  align-items: flex-end;
  justify-content: space-between;
}

.userIconName{
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

 .followingProjectsContainer{
  margin: 0 11%;
}

.truncatedTextDiv {
  margin: 10px;
  height: 38%;
  overflow: hidden;
}