.loginContainer {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anotherContainerRegister2 {
  background-color: white;
  height: fit-content;
  width: 20%;
  padding: 40px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.anotherContainerRegister h1 {
  margin-bottom: 35px;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm input {
  border: none;
  background-color: none;
  outline: none;
  border-bottom: 1px solid rgb(144, 144, 144);
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: unset !important;
}

.registerButton {
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  border-style: none;
  background-color: rgb(49, 84, 190);
  color: white;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: unset !important;
  transition: all 0.3s;
}

.registerButton:hover {
  background-color: rgb(108, 131, 201);
}
