.searchBar{
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 67%;
  height: 30px;
  margin: 4% 0;
  padding: 10px 20px;
  border-radius: 30px;
  border-color: rgb(163, 163, 163);
  position: relative;
  font-size: 20px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.searchButton {
  border-style: none;
  font-size: 25px;
  bottom: 37%;
  left: 82%;
  position: absolute;
  cursor: pointer;
}