
.updateOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}
.updateProjectContainter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 10000;
  /* box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75); */
}

.updateForm {
  display: flex;
  flex-direction: column;
}
